In [1]:
import pandas as pd
import numpy as np
import os
from ast import literal_eval
from itertools import combinations

pd.options.mode.chained_assignment = None

In [2]:
data_path = "./data"
if os.listdir(data_path) != ['tmdb_5000_credits.csv', 'tmdb_5000_movies.csv']:
    print("[ERROR] Please download and unzip the dataset in a subdirectory './data'.")
else:
    print("[INFO] The dataset is correctly placed.")

[INFO] The dataset is correctly placed.

### Loading the data

In [3]:
tmdb_credits = pd.read_csv(os.path.join(data_path, "tmdb_5000_credits.csv"))
tmdb_credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [4]:
tmdb_movies = pd.read_csv(os.path.join(data_path, "tmdb_5000_movies.csv"))
tmdb_movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [5]:
def mapping_casts(list_casts, useful_keys = {"id", "gender", "name"}):
    """Mapping casts to keep useful information."""
    result = []
    for cast in list_casts:
        filtering = {k:v for k,v in cast.items() if k in useful_keys}
        if len(filtering) == len(useful_keys):
            result.append(filtering)
    return result
mapping_casts(literal_eval(tmdb_credits.cast[0]))[:5]

[{'gender': 2, 'id': 65731, 'name': 'Sam Worthington'},
 {'gender': 1, 'id': 8691, 'name': 'Zoe Saldana'},
 {'gender': 1, 'id': 10205, 'name': 'Sigourney Weaver'},
 {'gender': 2, 'id': 32747, 'name': 'Stephen Lang'},
 {'gender': 1, 'id': 17647, 'name': 'Michelle Rodriguez'}]

In [6]:
tmdb_credits_clean = tmdb_credits.copy()
tmdb_credits_clean['cast'] = tmdb_credits_clean['cast'].apply(lambda x: mapping_casts(literal_eval(x)))
tmdb_credits_clean.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{'gender': 2, 'id': 65731, 'name': 'Sam Worth...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{'gender': 2, 'id': 85, 'name': 'Johnny Depp'...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{'gender': 2, 'id': 8784, 'name': 'Daniel Cra...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{'gender': 2, 'id': 3894, 'name': 'Christian ...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{'gender': 2, 'id': 60900, 'name': 'Taylor Ki...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [7]:
tmdb_credits_clean_cast = tmdb_credits_clean[["movie_id", "title", "cast"]].explode("cast")


def get_gender(cast):
    splitted = str(cast).split()
    if len(splitted)>1:
        return splitted[1][0]
    else:
        -1
        
def get_id(cast):
    splitted = str(cast).split()
    if len(splitted)>1:
        return splitted[3].replace(",", "")
    else:
        -1
        
def get_name(cast):
    splitted = str(cast).split(", ")
    if len(splitted)>1:
        return splitted[2].replace("'", "").replace(",", "").replace("name: ", "").replace("}", "")
    else:
        -1

tmdb_credits_clean_cast['gender'] = tmdb_credits_clean_cast.cast.apply(get_gender)
tmdb_credits_clean_cast = tmdb_credits_clean_cast[tmdb_credits_clean_cast.gender != -1]

tmdb_credits_clean_cast['person_id'] = tmdb_credits_clean_cast.cast.apply(get_id)
tmdb_credits_clean_cast = tmdb_credits_clean_cast[tmdb_credits_clean_cast.person_id != -1]

tmdb_credits_clean_cast['name'] = tmdb_credits_clean_cast.cast.apply(get_name)
tmdb_credits_clean_cast = tmdb_credits_clean_cast[tmdb_credits_clean_cast.name != -1]

tmdb_credits_clean_cast.drop(columns=['cast'], inplace=True)
tmdb_credits_clean_cast.head()

   movie_id   title gender person_id                name
0     19995  Avatar      2     65731     Sam Worthington
0     19995  Avatar      1      8691         Zoe Saldana
0     19995  Avatar      1     10205    Sigourney Weaver
0     19995  Avatar      2     32747        Stephen Lang
0     19995  Avatar      1     17647  Michelle Rodriguez

In [8]:
create_pair = lambda x : pd.DataFrame(list(combinations(x.values,2)), 
                            columns=['actor_1','actor_2'])

combo = (tmdb_credits_clean_cast.groupby('movie_id')['name'].apply(create_pair)
                               .reset_index(level=1, drop=True)
                               .reset_index())
combo['check_string'] = combo.apply(lambda row: ''.join(sorted([row['actor_1'], row['actor_2'], str(row['movie_id'])])), axis=1)
combo.drop_duplicates('check_string', inplace=True)
combo.drop(columns=['check_string'], inplace=True)

In [9]:
combo = combo[combo.actor_1 != combo.actor_2]
combo.head()

   movie_id   actor_1           actor_2
0         5  Tim Roth  Antonio Banderas
1         5  Tim Roth    Jennifer Beals
2         5  Tim Roth           Madonna
3         5  Tim Roth      Marisa Tomei
4         5  Tim Roth      Bruce Willis

In [10]:
pair = combo.groupby(by=['actor_1', 'actor_2'])['movie_id'].apply(list)
pair = pair.reset_index()
pair.head()

                 actor_1               actor_2  movie_id
0    Jorge de los Reyes             Anna Haack  [242575]
1    Jorge de los Reyes   Esther Maria Pietsch  [242575]
2    Jorge de los Reyes          Frank W. Rima  [242575]
3    Jorge de los Reyes   Jorge Ramírez Suárez  [242575]
4    Jorge de los Reyes         Karl Friedrich  [242575]

In [30]:
def filter_num_common_movies(n):
    """ Return pair with at least n common movies. """
    temp_df = pair[pair['movie_id'].map(len) >= n]
    remove_qm = lambda serie: serie.apply(lambda name: name.replace('"', ''))
    temp_df['actor_1'] = remove_qm(temp_df['actor_1'])
    temp_df['actor_2'] = remove_qm(temp_df['actor_2'])
    return temp_df[temp_df['movie_id'].map(len) >= n]
filter_num_common_movies(3).head()

              actor_1        actor_2                  movie_id
2131  Brian OHalloran  Jeff Anderson        [1832, 2292, 2295]
2155  Brian OHalloran   Scott Mosier  [1832, 2292, 2293, 2295]
2163  Brian OHalloran  Walt Flanagan  [1832, 2292, 2293, 2295]
3050  Catherine OHara    Bob Balaban     [13785, 14799, 16448]
3079  Catherine OHara       Don Lake     [13370, 14799, 16448]

In [39]:
def get_unique_movies(n):
    """ Return movies of actors with at least n common movies. """
    slist =[]
    for x in filter_num_common_movies(n)['movie_id']:
        slist.extend(x)
    return sorted(list(set(slist)))
get_unique_movies(3)[:3]

[5, 11, 12]

In [40]:
def parse_genres(genres):
    L=[]
    for genre in genres:
        L.append(genre['name'])
    if len(L) == 0:
        return np.nan
    return L

def parse_production_companies(prod_companies):
    L=[]
    for company in prod_companies:
        L.append(company['name'])
    if len(L) == 0:
        return np.nan
    return L

def get_movies_info(n):
    """ Return info for movies with n common movies. """
    movies_to_keep = get_unique_movies(n)
    temp_df = tmdb_movies[tmdb_movies['id'].isin(movies_to_keep)]
    temp_df.drop(columns=['original_language', 'keywords', 'production_countries', 'spoken_languages', 'status', 'original_title'], inplace=True)
    temp_df["genres"] = temp_df.genres.apply(lambda x: parse_genres(literal_eval(x)))
    temp_df["production_companies"] = temp_df.production_companies.apply(lambda x: parse_genres(literal_eval(x)))
    return temp_df
get_movies_info(3).head(2)

,budget,genres,homepage,id,overview,popularity,production_companies,release_date,revenue,runtime,tagline,title,vote_average,vote_count
1,300000000,"[Adventure, Fantasy, Action]",http://disney.go.com/disneypictures/pirates/,285,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[Walt Disney Pictures, Jerry Bruckheimer Films...",2007-05-19,961000000,169.0,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[Action, Adventure, Crime]",http://www.sonypictures.com/movies/spectre/,206647,A cryptic message from Bond’s past sends him o...,107.376788,"[Columbia Pictures, Danjaq, B24]",2015-10-26,880674609,148.0,A Plan No One Escapes,Spectre,6.3,4466

In [57]:
def make_nodes(n):
    """ Return nodes field. """
    df = filter_num_common_movies(n)
    gender_df = tmdb_credits_clean_cast[['name', 'gender', 'person_id']].drop_duplicates(subset='name').dropna()
    gender_df.name = gender_df.name.apply(lambda name: name.replace('"', ''))
    l = df['actor_1'].append(df['actor_2'], ignore_index=True).unique()
    actors = pd.DataFrame(l,columns=['name'])
    joined = actors.join(gender_df.set_index('name'), on='name', how='left').reset_index()
    joined.fillna(0, inplace=True)

    mapper = lambda row: {"id":row.values[1], "gender":row.values[2], "person_id":row.values[3]}
    nodes = []
    for i, row in joined.iterrows():
        nodes.append(mapper(row))
    return nodes
make_nodes(3)[0]

{'id': 'Brian OHalloran', 'gender': '2', 'person_id': '23629'}

In [58]:
def make_links(n):
    df = filter_num_common_movies(n)
    mapper = lambda row: {"source": row['actor_1'], "target": row['actor_2'], "movie_id": row['movie_id']}
    links = []
    for i, row in df.iterrows():
        links.append(mapper(row))
    return links
make_links(3)[0]

{'source': 'Brian OHalloran',
 'target': 'Jeff Anderson',
 'movie_id': [1832, 2292, 2295]}

In [59]:
def make_movie_infos(n):
    df = get_movies_info(n).fillna("")
    movies_info = []
    print(df)
    #df.dropna(inplace=True)
    mapper = lambda row: {"movie_id": row.id,\
                          "genres": row.genres,\
                          "homepage": row.homepage,\
                          "title": row.title,\
                          "popularity": row.popularity,\
                          "release_date": row.release_date,\
                          "vote_average": row.vote_average,\
                          "production_companies": row.production_companies,\
                          "overview": row.overview,\
                          "revenue": row.revenue,\
                          "budget": row.budget}
    for i, row in df.iterrows():
        movies_info.append(mapper(row))
    return movies_info
make_movie_infos(3)[0]

         budget                            genres  \
1     300000000      [Adventure, Fantasy, Action]
2     245000000        [Action, Adventure, Crime]
3     250000000  [Action, Crime, Drama, Thriller]
5     258000000      [Fantasy, Action, Adventure]
6     260000000               [Animation, Family]
...         ...                               ...
4697          0                 [Comedy, Romance]
4738      60000        [Mystery, Drama, Thriller]
4772      31192           [Drama, Action, Comedy]
4773      27000                          [Comedy]
4802          0                     [Documentary]

                                             homepage      id  \
1        http://disney.go.com/disneypictures/pirates/     285
2         http://www.sonypictures.com/movies/spectre/  206647
3                  http://www.thedarkknightrises.com/   49026
5     http://www.sonypictures.com/movies/spider-man3/     559
6        http://disney.go.com/disneypictures/tangled/   38757
...                                               ...     ...
4697                                                    27995
4738                       http://www.pithemovie.com/     473
4772                 http://downterrace.blogspot.com/   42151
4773             http://www.miramax.com/movie/clerks/    2292
4802                                                    25975

                                               overview  popularity  \
1     Captain Barbossa, long believed to be dead, ha...  139.082615
2     A cryptic message from Bond’s past sends him o...  107.376788
3     Following the death of District Attorney Harve...  112.312950
5     The seemingly invincible Spider-Man goes up ag...  115.699814
6     When the kingdom's most wanted-and most charmi...   48.681969
...                                                 ...         ...
4697  The story of Nola Darling's simultaneous sexua...    6.722213
4738  The debut film from Darren Aronofsky in which ...   27.788067
4772  After serving jail time for a mysterious crime...    1.330379
4773  Convenience and video store clerks Dante and R...   19.748658
4802  Ever since the second grade when he first saw ...    1.929883

                                   production_companies release_date  \
1     [Walt Disney Pictures, Jerry Bruckheimer Films...   2007-05-19
2                      [Columbia Pictures, Danjaq, B24]   2015-10-26
3     [Legendary Pictures, Warner Bros., DC Entertai...   2012-07-16
5     [Columbia Pictures, Laura Ziskin Productions, ...   2007-05-01
6     [Walt Disney Pictures, Walt Disney Animation S...   2010-11-24
...                                                 ...          ...
4697                      [40 Acres & A Mule Filmworks]   1986-08-08
4738  [Truth and Soul Pictures Inc, Protozoa Picture...   1998-07-10
4772                                                      2009-09-01
4773            [Miramax Films, View Askew Productions]   1994-09-13
4802       [rusty bear entertainment, lucky crow films]   2005-08-05

         revenue  runtime                                            tagline  \
1      961000000    169.0     At the end of the world, the adventure begins.
2      880674609    148.0                              A Plan No One Escapes
3     1084939099    165.0                                    The Legend Ends
5      890871626    139.0                                 The battle within.
6      591794936    100.0           They're taking adventure to new lengths.
...          ...      ...                                                ...
4697           0     84.0                            A Seriously Sexy Comedy
4738     3221152     84.0                 There will be no order, only chaos
4772       10000     89.0        You're only as good as the people you know.
4773     3151130     92.0  Just because they serve you doesn't mean they ...
4802           0     90.0

                                         title  vote_average  vote_count
1     Pirates of the Caribbean: At World's End           6.9        4500
2                                      Spectre           6.3        4466
3                        The Dark Knight Rises           7.6        9106
5                                 Spider-Man 3           5.9        3576
6                                      Tangled           7.4        3330
...                                        ...           ...         ...
4697                       She's Gotta Have It           6.1          25
4738                                        Pi           7.1         586
4772                              Down Terrace           6.3          26
4773                                    Clerks           7.4         755
4802                         My Date with Drew           6.3          16

[1396 rows x 14 columns]

{'movie_id': 285,
 'genres': ['Adventure', 'Fantasy', 'Action'],
 'homepage': 'http://disney.go.com/disneypictures/pirates/',
 'title': "Pirates of the Caribbean: At World's End",
 'popularity': 139.082615,
 'release_date': '2007-05-19',
 'vote_average': 6.9,
 'production_companies': ['Walt Disney Pictures',
  'Jerry Bruckheimer Films',
  'Second Mate Productions'],
 'overview': 'Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the Earth with Will Turner and Elizabeth Swann. But nothing is quite as it seems.',
 'revenue': 961000000,
 'budget': 300000000}

In [60]:
import json

def write_json(n):
    """ Write a json out of nodes, links, movie_info fields with num_common being the number n of common movies. """
    data = {}
    data['nodes'] = make_nodes(n)
    data['links'] = make_links(n)
    data['movies_info'] = make_movie_infos(n)
    with open('dataset_{}_common_movies.json'.format(n), 'w') as outfile:
        json.dump(data, outfile)
for n in range(3,11):
    write_json(n)

         budget                            genres  \
1     300000000      [Adventure, Fantasy, Action]
2     245000000        [Action, Adventure, Crime]
3     250000000  [Action, Crime, Drama, Thriller]
5     258000000      [Fantasy, Action, Adventure]
6     260000000               [Animation, Family]
...         ...                               ...
4697          0                 [Comedy, Romance]
4738      60000        [Mystery, Drama, Thriller]
4772      31192           [Drama, Action, Comedy]
4773      27000                          [Comedy]
4802          0                     [Documentary]

                                             homepage      id  \
1        http://disney.go.com/disneypictures/pirates/     285
2         http://www.sonypictures.com/movies/spectre/  206647
3                  http://www.thedarkknightrises.com/   49026
5     http://www.sonypictures.com/movies/spider-man3/     559
6        http://disney.go.com/disneypictures/tangled/   38757
...                                               ...     ...
4697                                                    27995
4738                       http://www.pithemovie.com/     473
4772                 http://downterrace.blogspot.com/   42151
4773             http://www.miramax.com/movie/clerks/    2292
4802                                                    25975

                                               overview  popularity  \
1     Captain Barbossa, long believed to be dead, ha...  139.082615
2     A cryptic message from Bond’s past sends him o...  107.376788
3     Following the death of District Attorney Harve...  112.312950
5     The seemingly invincible Spider-Man goes up ag...  115.699814
6     When the kingdom's most wanted-and most charmi...   48.681969
...                                                 ...         ...
4697  The story of Nola Darling's simultaneous sexua...    6.722213
4738  The debut film from Darren Aronofsky in which ...   27.788067
4772  After serving jail time for a mysterious crime...    1.330379
4773  Convenience and video store clerks Dante and R...   19.748658
4802  Ever since the second grade when he first saw ...    1.929883

                                   production_companies release_date  \
1     [Walt Disney Pictures, Jerry Bruckheimer Films...   2007-05-19
2                      [Columbia Pictures, Danjaq, B24]   2015-10-26
3     [Legendary Pictures, Warner Bros., DC Entertai...   2012-07-16
5     [Columbia Pictures, Laura Ziskin Productions, ...   2007-05-01
6     [Walt Disney Pictures, Walt Disney Animation S...   2010-11-24
...                                                 ...          ...
4697                      [40 Acres & A Mule Filmworks]   1986-08-08
4738  [Truth and Soul Pictures Inc, Protozoa Picture...   1998-07-10
4772                                                      2009-09-01
4773            [Miramax Films, View Askew Productions]   1994-09-13
4802       [rusty bear entertainment, lucky crow films]   2005-08-05

         revenue  runtime                                            tagline  \
1      961000000    169.0     At the end of the world, the adventure begins.
2      880674609    148.0                              A Plan No One Escapes
3     1084939099    165.0                                    The Legend Ends
5      890871626    139.0                                 The battle within.
6      591794936    100.0           They're taking adventure to new lengths.
...          ...      ...                                                ...
4697           0     84.0                            A Seriously Sexy Comedy
4738     3221152     84.0                 There will be no order, only chaos
4772       10000     89.0        You're only as good as the people you know.
4773     3151130     92.0  Just because they serve you doesn't mean they ...
4802           0     90.0

                                         title  vote_average  vote_count
1     Pirates of the Caribbean: At World's End           6.9        4500
2                                      Spectre           6.3        4466
3                        The Dark Knight Rises           7.6        9106
5                                 Spider-Man 3           5.9        3576
6                                      Tangled           7.4        3330
...                                        ...           ...         ...
4697                       She's Gotta Have It           6.1          25
4738                                        Pi           7.1         586
4772                              Down Terrace           6.3          26
4773                                    Clerks           7.4         755
4802                         My Date with Drew           6.3          16

[1396 rows x 14 columns]
         budget                                genres  \
1     300000000          [Adventure, Fantasy, Action]
2     245000000            [Action, Adventure, Crime]
3     250000000      [Action, Crime, Drama, Thriller]
5     258000000          [Fantasy, Action, Adventure]
7     280000000  [Action, Adventure, Science Fiction]
...         ...                                   ...
4593          0                         [Documentary]
4603          0            [Animation, Comedy, Drama]
4631     250000              [Comedy, Drama, Romance]
4697          0                     [Comedy, Romance]
4773      27000                              [Comedy]

                                               homepage      id  \
1          http://disney.go.com/disneypictures/pirates/     285
2           http://www.sonypictures.com/movies/spectre/  206647
3                    http://www.thedarkknightrises.com/   49026
5       http://www.sonypictures.com/movies/spider-man3/     559
7     http://marvel.com/movies/movie/193/avengers_ag...   99861
...                                                 ...     ...
4593                                                      15800
4603                                                      52032
4631               http://www.viewaskew.com/chasingamy/    2255
4697                                                      27995
4773               http://www.miramax.com/movie/clerks/    2292

                                               overview  popularity  \
1     Captain Barbossa, long believed to be dead, ha...  139.082615
2     A cryptic message from Bond’s past sends him o...  107.376788
3     Following the death of District Attorney Harve...  112.312950
5     The seemingly invincible Spider-Man goes up ag...  115.699814
7     When Tony Stark tries to jumpstart a dormant p...  134.279229
...                                                 ...         ...
4593  A hilarious look at the universe's most ferven...    2.777540
4603  The story of a man who rescues a German shephe...    1.170257
4631  Holden and Banky are comic book artists. Every...   20.601483
4697  The story of Nola Darling's simultaneous sexua...    6.722213
4773  Convenience and video store clerks Dante and R...   19.748658

                                   production_companies release_date  \
1     [Walt Disney Pictures, Jerry Bruckheimer Films...   2007-05-19
2                      [Columbia Pictures, Danjaq, B24]   2015-10-26
3     [Legendary Pictures, Warner Bros., DC Entertai...   2012-07-16
5     [Columbia Pictures, Laura Ziskin Productions, ...   2007-05-01
7     [Marvel Studios, Prime Focus, Revolution Sun S...   2015-04-22
...                                                 ...          ...
4593                                                      1997-10-18
4603                         [Norman Twain Productions]   2009-01-01
4631            [Miramax Films, View Askew Productions]   1997-04-04
4697                      [40 Acres & A Mule Filmworks]   1986-08-08
4773            [Miramax Films, View Askew Productions]   1994-09-13

         revenue  runtime                                            tagline  \
1      961000000    169.0     At the end of the world, the adventure begins.
2      880674609    148.0                              A Plan No One Escapes
3     1084939099    165.0                                    The Legend Ends
5      890871626    139.0                                 The battle within.
7     1405403694    141.0                                A New Age Has Come.
...          ...      ...                                                ...
4593           0     86.0
4603      246574     83.0                 Sometimes, love really is a bitch.
4631    12021272    113.0                   It's not who you love. It's how.
4697           0     84.0                            A Seriously Sexy Comedy
4773     3151130     92.0  Just because they serve you doesn't mean they ...

                                         title  vote_average  vote_count
1     Pirates of the Caribbean: At World's End           6.9        4500
2                                      Spectre           6.3        4466
3                        The Dark Knight Rises           7.6        9106
5                                 Spider-Man 3           5.9        3576
7                      Avengers: Age of Ultron           7.3        6767
...                                        ...           ...         ...
4593                                  Trekkies           6.3          22
4603                              My Dog Tulip           7.6           9
4631                               Chasing Amy           6.7         433
4697                       She's Gotta Have It           6.1          25
4773                                    Clerks           7.4         755

[635 rows x 14 columns]

         budget                                genres  \
5     258000000          [Fantasy, Action, Adventure]
7     280000000  [Action, Adventure, Science Fiction]
8     250000000          [Adventure, Fantasy, Family]
13    255000000          [Action, Adventure, Western]
16    220000000  [Science Fiction, Action, Adventure]
...         ...                                   ...
4359          0                               [Drama]
4593          0                         [Documentary]
4631     250000              [Comedy, Drama, Romance]
4697          0                     [Comedy, Romance]
4773      27000                              [Comedy]

                                               homepage      id  \
5       http://www.sonypictures.com/movies/spider-man3/     559
7     http://marvel.com/movies/movie/193/avengers_ag...   99861
8     http://harrypotter.warnerbros.com/harrypottera...     767
13                http://disney.go.com/the-lone-ranger/   57201
16                    http://marvel.com/avengers_movie/   24428
...                                                 ...     ...
4359                                                     244772
4593                                                      15800
4631               http://www.viewaskew.com/chasingamy/    2255
4697                                                      27995
4773               http://www.miramax.com/movie/clerks/    2292

                                               overview  popularity  \
5     The seemingly invincible Spider-Man goes up ag...  115.699814
7     When Tony Stark tries to jumpstart a dormant p...  134.279229
8     As Harry begins his sixth year at Hogwarts, he...   98.885637
13    The Texas Rangers chase down a gang of outlaws...   49.046956
16    When an unexpected enemy emerges and threatens...  144.448633
...                                                 ...         ...
4359  Estranged twins Maggie and Milo coincidentally...   15.699363
4593  A hilarious look at the universe's most ferven...    2.777540
4631  Holden and Banky are comic book artists. Every...   20.601483
4697  The story of Nola Darling's simultaneous sexua...    6.722213
4773  Convenience and video store clerks Dante and R...   19.748658

                                   production_companies release_date  \
5     [Columbia Pictures, Laura Ziskin Productions, ...   2007-05-01
7     [Marvel Studios, Prime Focus, Revolution Sun S...   2015-04-22
8                          [Warner Bros., Heyday Films]   2009-07-07
13    [Walt Disney Pictures, Jerry Bruckheimer Films...   2013-07-03
16                 [Paramount Pictures, Marvel Studios]   2012-04-25
...                                                 ...          ...
4359      [Duplass Brothers Productions, Venture Forth]   2014-01-18
4593                                                      1997-10-18
4631            [Miramax Films, View Askew Productions]   1997-04-04
4697                      [40 Acres & A Mule Filmworks]   1986-08-08
4773            [Miramax Films, View Askew Productions]   1994-09-13

         revenue  runtime                                            tagline  \
5      890871626    139.0                                 The battle within.
7     1405403694    141.0                                A New Age Has Come.
8      933959197    153.0                              Dark Secrets Revealed
13      89289910    149.0                            Never Take Off the Mask
16    1519557910    143.0                            Some assembly required.
...          ...      ...                                                ...
4359     5284309     90.0                            Family is a cruel joke.
4593           0     86.0
4631    12021272    113.0                   It's not who you love. It's how.
4697           0     84.0                            A Seriously Sexy Comedy
4773     3151130     92.0  Just because they serve you doesn't mean they ...

                                       title  vote_average  vote_count
5                               Spider-Man 3           5.9        3576
7                    Avengers: Age of Ultron           7.3        6767
8     Harry Potter and the Half-Blood Prince           7.4        5293
13                           The Lone Ranger           5.9        2311
16                              The Avengers           7.4       11776
...                                      ...           ...         ...
4359                      The Skeleton Twins           6.7         292
4593                                Trekkies           6.3          22
4631                             Chasing Amy           6.7         433
4697                     She's Gotta Have It           6.1          25
4773                                  Clerks           7.4         755

[308 rows x 14 columns]
         budget                                genres  \
7     280000000  [Action, Adventure, Science Fiction]
8     250000000          [Adventure, Fantasy, Family]
13    255000000          [Action, Adventure, Western]
16    220000000  [Science Fiction, Action, Adventure]
19    250000000          [Action, Adventure, Fantasy]
...         ...                                   ...
4240    1500000                      [Comedy, Horror]
4291    1200000              [Horror, Mystery, Crime]
4339     950000         [Adventure, Action, Thriller]
4359          0                               [Drama]
4593          0                         [Documentary]

                                               homepage      id  \
7     http://marvel.com/movies/movie/193/avengers_ag...   99861
8     http://harrypotter.warnerbros.com/harrypottera...     767
13                http://disney.go.com/the-lone-ranger/   57201
16                    http://marvel.com/avengers_movie/   24428
19                            http://www.thehobbit.com/  122917
...                                                 ...     ...
4240  http://www.dhentertainment.com/projects/1.my-n...    1961
4291                                                        176
4339         http://www.mgm.com/#/our-titles/566/Dr.-No     646
4359                                                     244772
4593                                                      15800

                                               overview  popularity  \
7     When Tony Stark tries to jumpstart a dormant p...  134.279229
8     As Harry begins his sixth year at Hogwarts, he...   98.885637
13    The Texas Rangers chase down a gang of outlaws...   49.046956
16    When an unexpected enemy emerges and threatens...  144.448633
19    Immediately after the events of The Desolation...  120.965743
...                                                 ...         ...
4240  B Movie Legend Bruce Campbell is mistaken for ...    7.559100
4291  Obsessed with teaching his victims the value o...   63.655973
4339  In the film that launched the James Bond saga,...   48.901542
4359  Estranged twins Maggie and Milo coincidentally...   15.699363
4593  A hilarious look at the universe's most ferven...    2.777540

                                   production_companies release_date  \
7     [Marvel Studios, Prime Focus, Revolution Sun S...   2015-04-22
8                          [Warner Bros., Heyday Films]   2009-07-07
13    [Walt Disney Pictures, Jerry Bruckheimer Films...   2013-07-03
16                 [Paramount Pictures, Marvel Studios]   2012-04-25
19    [WingNut Films, New Line Cinema, Warner Bros. ...   2014-12-10
...                                                 ...          ...
4240    [Dark Horse Entertainment, Image Entertainment]   2007-10-01
4291  [Lions Gate Films, Twisted Pictures, Evolution...   2004-10-01
4339                  [United Artists, Eon Productions]   1962-10-04
4359      [Duplass Brothers Productions, Venture Forth]   2014-01-18
4593                                                      1997-10-18

         revenue  runtime                                            tagline  \
7     1405403694    141.0                                A New Age Has Come.
8      933959197    153.0                              Dark Secrets Revealed
13      89289910    149.0                            Never Take Off the Mask
16    1519557910    143.0                            Some assembly required.
19     956019788    144.0  Witness the defining chapter of the Middle-Ear...
...          ...      ...                                                ...
4240      173066     86.0     Fearless! Unstoppable! Ready For His Close-Up!
4291   103911669    103.0                     Live or die. Make your choice.
4339    59600000    110.0  NOW meet the most extraordinary gentleman spy ...
4359     5284309     90.0                            Family is a cruel joke.
4593           0     86.0

                                          title  vote_average  vote_count
7                       Avengers: Age of Ultron           7.3        6767
8        Harry Potter and the Half-Blood Prince           7.4        5293
13                              The Lone Ranger           5.9        2311
16                                 The Avengers           7.4       11776
19    The Hobbit: The Battle of the Five Armies           7.1        4760
...                                         ...           ...         ...
4240                           My Name Is Bruce           5.9         107
4291                                        Saw           7.2        2184
4339                                     Dr. No           6.9         940
4359                         The Skeleton Twins           6.7         292
4593                                   Trekkies           6.3          22

[180 rows x 14 columns]

         budget                                genres  \
7     280000000  [Action, Adventure, Science Fiction]
8     250000000          [Adventure, Fantasy, Family]
16    220000000  [Science Fiction, Action, Adventure]
26    250000000  [Adventure, Action, Science Fiction]
31    200000000  [Action, Adventure, Science Fiction]
...         ...                                   ...
3884    2500000         [Adventure, Action, Thriller]
4071    2000000         [Action, Thriller, Adventure]
4339     950000         [Adventure, Action, Thriller]
4359          0                               [Drama]
4593          0                         [Documentary]

                                               homepage      id  \
7     http://marvel.com/movies/movie/193/avengers_ag...   99861
8     http://harrypotter.warnerbros.com/harrypottera...     767
16                    http://marvel.com/avengers_movie/   24428
26             http://marvel.com/captainamericapremiere  271110
31                           http://marvel.com/ironman3   68721
...                                                 ...     ...
3884      http://www.mgm.com/view/movie/760/Goldfinger/     658
4071  http://www.mgm.com/view/movie/717/From-Russia-...     657
4339         http://www.mgm.com/#/our-titles/566/Dr.-No     646
4359                                                     244772
4593                                                      15800

                                               overview  popularity  \
7     When Tony Stark tries to jumpstart a dormant p...  134.279229
8     As Harry begins his sixth year at Hogwarts, he...   98.885637
16    When an unexpected enemy emerges and threatens...  144.448633
26    Following the events of Age of Ultron, the col...  198.372395
31    When Tony Stark's world is torn apart by a for...   77.682080
...                                                 ...         ...
3884  Special agent 007 (Sean Connery) comes face to...   47.812466
4071  Agent 007 is back in the second installment of...   41.298723
4339  In the film that launched the James Bond saga,...   48.901542
4359  Estranged twins Maggie and Milo coincidentally...   15.699363
4593  A hilarious look at the universe's most ferven...    2.777540

                                   production_companies release_date  \
7     [Marvel Studios, Prime Focus, Revolution Sun S...   2015-04-22
8                          [Warner Bros., Heyday Films]   2009-07-07
16                 [Paramount Pictures, Marvel Studios]   2012-04-25
26    [Studio Babelsberg, Marvel Studios, Walt Disne...   2016-04-27
31                                     [Marvel Studios]   2013-04-18
...                                                 ...          ...
3884          [United Artists, Eon Productions, Danjaq]   1964-09-17
4071          [United Artists, Eon Productions, Danjaq]   1963-10-11
4339                  [United Artists, Eon Productions]   1962-10-04
4359      [Duplass Brothers Productions, Venture Forth]   2014-01-18
4593                                                      1997-10-18

         revenue  runtime                                            tagline  \
7     1405403694    141.0                                A New Age Has Come.
8      933959197    153.0                              Dark Secrets Revealed
16    1519557910    143.0                            Some assembly required.
26    1153304495    147.0                                    Divided We Fall
31    1215439994    130.0                Unleash the power behind the armor.
...          ...      ...                                                ...
3884   124881062    110.0       Everything he touches turns into excitement!
4071    78898765    115.0  The world's masters of murder pull out all the...
4339    59600000    110.0  NOW meet the most extraordinary gentleman spy ...
4359     5284309     90.0                            Family is a cruel joke.
4593           0     86.0

                                       title  vote_average  vote_count
7                    Avengers: Age of Ultron           7.3        6767
8     Harry Potter and the Half-Blood Prince           7.4        5293
16                              The Avengers           7.4       11776
26                Captain America: Civil War           7.1        7241
31                                Iron Man 3           6.8        8806
...                                      ...           ...         ...
3884                              Goldfinger           7.2         987
4071                   From Russia with Love           6.9         760
4339                                  Dr. No           6.9         940
4359                      The Skeleton Twins           6.7         292
4593                                Trekkies           6.3          22

[96 rows x 14 columns]
         budget                                          genres  \
121   150000000    [Adventure, Fantasy, Action, Comedy, Family]
195   127000000            [Adventure, Comedy, Fantasy, Family]
243   110000000    [Action, Adventure, Comedy, Family, Fantasy]
284   100000000                               [Comedy, Romance]
361    90000000                                [Comedy, Action]
362    88000000               [Action, Comedy, Science Fiction]
390    85000000            [Animation, Comedy, Family, Fantasy]
416    82500000               [Comedy, Drama, Fantasy, Romance]
434    82000000                                 [Comedy, Drama]
436    80000000                                        [Comedy]
443    80000000              [Fantasy, Comedy, Family, Romance]
445    80000000                               [Romance, Comedy]
460    80000000                       [Comedy, Romance, Family]
464    80000000                     [Animation, Comedy, Family]
471    85000000                      [Comedy, Fantasy, Romance]
499    79000000                                        [Comedy]
515    75000000                               [Comedy, Romance]
520    80000000                                        [Comedy]
688    80000000                               [Comedy, Romance]
726    60000000                                 [Comedy, Crime]
796    60000000                               [Comedy, Western]
802    70000000                                        [Comedy]
811    55000000                               [Comedy, Romance]
907    50000000                               [Comedy, Romance]
997    50000000                                        [Comedy]
1022   47000000                       [Comedy, Drama, Thriller]
1071   40000000                                        [Comedy]
1303   38000000  [Science Fiction, Action, Adventure, Thriller]
1367   35000000           [Science Fiction, Adventure, Mystery]
1531   34000000  [Action, Adventure, Thriller, Science Fiction]
1539   34200000                                 [Comedy, Drama]
1583   30000000  [Science Fiction, Action, Adventure, Thriller]
1710   21000000                                 [Comedy, Drama]
1716   28000000                                        [Comedy]
1750   27000000  [Science Fiction, Action, Adventure, Thriller]
1777   26000000             [Action, Adventure, Comedy, Family]
1959   24000000                    [Science Fiction, Adventure]
1989   23000000                                        [Comedy]
2317   18000000  [Science Fiction, Action, Adventure, Thriller]
2675   14000000                   [Adventure, Action, Thriller]
2741          0                                        [Comedy]
2815   12000000  [Action, Adventure, Science Fiction, Thriller]
2989   12000000                                        [Comedy]
3143    9500000                   [Action, Thriller, Adventure]
3162    5500000                   [Adventure, Action, Thriller]
3251    6500000                   [Adventure, Action, Thriller]
3336    7200000                   [Adventure, Action, Thriller]
3343    7000000                   [Adventure, Action, Thriller]
3351    7000000                   [Adventure, Action, Thriller]
3884    2500000                   [Adventure, Action, Thriller]
4071    2000000                   [Action, Thriller, Adventure]
4339     950000                   [Adventure, Action, Thriller]

                                               homepage      id  \
121                http://www.nightatthemuseummovie.com   18360
195                                                      181533
243                                                        1593
284                       http://www.littlefockers.net/   39451
361             http://www.youdontmesswiththezohan.com/   10661
362                        http://www.pixels-movie.com/  257344
390                      http://www.welcometohotelt.com   76492
416                                                        9339
434                                                        9291
436        http://www.sonypictures.com/movies/grownups2  109418
443                                                       10202
445                   http://www.justgowithit-movie.com   50546
460                     http://www.zookeeper-movie.com/   38317
464                                                      159824
471                                                        9678
499                   http://www.jackandjill-movie.com/   71880
515                                                        1824
520                      http://www.grownups-movie.com/   38365
688             http://www.meetthefockers.com/index.php     693
726                                                        9384
796               http://www.netflix.com/title/80039517  347969
802      http://www.sonypictures.com/movies/thatsmyboy/   87428
811                                                        1597
907                                                        2022
997                           http://www.zoolander.com/  329833
1022                                                       9894
1071                                                     232672
1303                                                        193
1367                                                        152
1531      http://www.mgm.com/view/movie/1292/Moonraker/     698
1539                                                       9032
1583                                                        172
1710                                                       9428
1716                                                       9398
1750                                                        174
1777                       http://paulblartmallcop.com/   14560
1959                                                        168
1989                                                      10663
2317                                                        157
2675  http://www.mgm.com/view/movie/1891/The-Spy-Who...     691
2741                                                       9644
2815                                                        154
2989                                                       9614
3143  http://www.mgm.com/view/movie/2347/You-Only-Li...     667
3162    http://www.mgm.com/view/movie/2009/Thunderball/     660
3251  http://www.mgm.com/view/movie/1411/On-Her-Maje...     668
3336  http://www.mgm.com/view/movie/529/Diamonds-Are...     681
3343  http://www.mgm.com/view/movie/1130/Live-and-Le...     253
3351  http://www.mgm.com/view/movie/1213/The-Man-wit...     682
3884      http://www.mgm.com/view/movie/760/Goldfinger/     658
4071  http://www.mgm.com/view/movie/717/From-Russia-...     657
4339         http://www.mgm.com/#/our-titles/566/Dr.-No     646

                                               overview  popularity  \
121   Hapless museum night watchman Larry Daley must...   81.781591
195   When the magic powers of The Tablet of Ahkmenr...  115.597753
243   Chaos reigns at the natural history museum whe...   48.780039
284   It has taken 10 years, two little Fockers with...   32.389353
361   An Israeli counterterrorism soldier with a sec...   40.597344
362   Video game experts are recruited by the milita...  140.849495
390   Dracula, who operates a high-end resort away f...   56.257411
416   A workaholic architect finds a universal remot...   41.176631
434   Pro quarter-back, Paul Crewe and former colleg...   26.065735
436   The all-star comedy cast from Grown Ups return...   45.589568
443   Skeeter Bronson is a down-on-his-luck guy who'...   23.531721
445   A plastic surgeon, romancing a much younger sc...   37.026650
460   A comedy about a zookeeper who might be great ...   27.462640
464   When the old-old-old-fashioned vampire Vlad ar...   61.692197
471   After the lord of darkness decides he will not...   18.335992
499   Jack Sadelstein, a successful advertising exec...   22.132418
515   Henry is a player skilled at seducing women. B...   61.437586
520   After their high school basketball coach passe...   38.864027
688   Hard-to-crack ex-CIA man, Jack Byrnes and his ...   32.829538
726   Join uptight David Starsky and laid-back Ken "...   28.848842
796   When his long-lost outlaw father returns, Tomm...   19.694695
802   While in his teens, Donny fathered a son, Todd...   21.723897
811   Greg Focker is ready to marry his girlfriend, ...   29.972240
907   When Longfellow Deeds, a small-town pizzeria o...   18.121404
997   Derek and Hansel are modelling again when an o...   37.253774
1022  When recently single Steven moves into his new...   19.525659
1071  After a bad blind date, a man and woman find t...   44.120328
1303  Captain Jean-Luc Picard and the crew of the En...   14.779041
1367  When a destructive space entity is spotted app...   24.616634
1531  During the transportation of a Space Shuttle a...   29.887404
1539  A lazy law school grad adopts a kid to impress...   34.868590
1583  Capt. Kirk and his crew must deal with Mr. Spo...   19.578249
1710  An estranged family of former child prodigies ...   24.130810
1716  Clear the runway for Derek Zoolander, VH1's th...   38.095800
1750  On the eve of retirement, Kirk and McCoy are c...   16.188572
1777  Mild-mannered Paul Blart (Kevin James) has alw...   31.250383
1959  Fugitives of the Federation for their daring r...   22.258428
1989  Bobby Boucher is a water boy for a struggling ...   23.839127
2317  Admiral Kirk and his bridge crew risk their ca...   15.314027
2675  Russian and British submarines with nuclear mi...   27.173470
2741  An LA detective is murdered because she has mi...   12.963328
2815  Admiral James T. Kirk is feeling old; the pros...   22.434102
2989  Failed hockey player-turned-golf whiz Happy Gi...   26.598884
3143  A mysterious space craft kidnaps a Russian and...   28.675891
3162  A criminal organization has obtained two nucle...   31.036000
3251  James Bond tracks archnemesis Ernst Blofeld to...   25.289665
3336  Diamonds are stolen only to be sold again in t...   34.634181
3343  James Bond must investigate a mysterious murde...   30.465138
3351  A golden bullet has 007 engraved on it as it s...   30.214716
3884  Special agent 007 (Sean Connery) comes face to...   47.812466
4071  Agent 007 is back in the second installment of...   41.298723
4339  In the film that launched the James Bond saga,...   48.901542

                                   production_companies release_date  \
121   [Twentieth Century Fox Film Corporation, 1492 ...   2009-05-20
195   [Twentieth Century Fox Film Corporation, 1492 ...   2014-12-17
243   [Ingenious Film Partners, Twentieth Century Fo...   2006-10-20
284   [Paramount Pictures, Universal Pictures, Every...   2010-12-21
361   [Columbia Pictures, Happy Madison Productions,...   2008-06-05
362      [Columbia Pictures, Happy Madison Productions]   2015-07-16
390        [Columbia Pictures, Sony Pictures Animation]   2012-09-20
416   [Original Film, Columbia Pictures Corporation,...   2006-06-22
434   [Paramount Pictures, Columbia Pictures Corpora...   2005-05-19
436   [Columbia Pictures, Happy Madison Productions,...   2013-07-11
443   [Walt Disney Pictures, Happy Madison Productio...   2008-12-24
445      [Columbia Pictures, Happy Madison Productions]   2011-02-10
460   [Columbia Pictures, Happy Madison Productions,...   2011-07-06
464        [Columbia Pictures, Sony Pictures Animation]   2015-09-21
471   [New Line Cinema, Avery Pix, Happy Madison Pro...   2000-11-10
499   [Columbia Pictures, Happy Madison Productions,...   2011-11-11
515   [Columbia Pictures Corporation, Happy Madison ...   2004-02-13
520   [Columbia Pictures, Happy Madison Productions,...   2010-06-24
688   [DreamWorks SKG, Universal Pictures, Everyman ...   2004-12-22
726   [Weed Road Pictures, Warner Bros., Dimension F...   2004-03-05
796                         [Happy Madison Productions]   2015-12-11
802   [Columbia Pictures, Happy Madison Productions,...   2012-06-14
811   [DreamWorks SKG, Universal Pictures, Tribeca P...   2000-10-06
907   [New Line Cinema, Columbia Pictures Corporatio...   2002-06-28
997           [Scott Rudin Productions, Red Hour Films]   2016-02-06
1022                    [Columbia Pictures Corporation]   1996-06-10
1071  [Happy Madison Productions, Karz Entertainment...   2014-05-21
1303                               [Paramount Pictures]   1994-11-17
1367                               [Paramount Pictures]   1979-12-06
1531                  [United Artists, Eon Productions]   1979-06-26
1539                                [Columbia Pictures]   1999-06-25
1583                               [Paramount Pictures]   1989-06-09
1710                              [Touchstone Pictures]   2001-10-05
1716  [Paramount Pictures, Village Roadshow Pictures...   2001-09-28
1750                               [Paramount Pictures]   1991-12-05
1777  [Columbia Pictures, Happy Madison Productions,...   2009-01-15
1959                               [Paramount Pictures]   1986-11-25
1989                              [Touchstone Pictures]   1998-11-06
2317                               [Paramount Pictures]   1984-05-31
2675          [United Artists, Eon Productions, Danjaq]   1977-07-07
2741                                  [New Line Cinema]   1993-02-04
2815                               [Paramount Pictures]   1982-06-03
2989  [Universal Pictures, Brillstein-Grey Entertain...   1996-02-16
3143                                  [Eon Productions]   1967-06-12
3162       [Eon Productions, Metro-Goldwyn-Mayer (MGM)]   1965-12-16
3251          [United Artists, Eon Productions, Danjaq]   1969-12-12
3336          [United Artists, Eon Productions, Danjaq]   1971-12-13
3343          [United Artists, Eon Productions, Danjaq]   1973-07-05
3351          [United Artists, Eon Productions, Danjaq]   1974-12-01
3884          [United Artists, Eon Productions, Danjaq]   1964-09-17
4071          [United Artists, Eon Productions, Danjaq]   1963-10-11
4339                  [United Artists, Eon Productions]   1962-10-04

        revenue  runtime                                            tagline  \
121   413106170    105.0           When the lights go off the battle is on.
195   349424282     97.0                   One Final Night to Save the Day.
243   574480841    108.0                        Where History Comes To Life
284   310650585     98.0                 Kids bring everyone closer, right?
361   201596308    113.0                     Lather. Rinse. Save the world.
362   243637091    105.0                                           Game On.
390   358375603     91.0          Where monsters go to get away from it all
416   237681299    107.0  What If You Had A Remote... That Controlled Yo...
434   190320568    113.0                    If you can't get out, get even.
436   246984278    100.0  Just because they're a little older doesn't me...
443   212874442     99.0       Whatever they dream up... he has to survive.
445   214918407    117.0   Sometimes a guy's best wingman... is a wingwoman
460   169852759    102.0                             Welcome to his jungle.

         budget                                          genres  \
121   150000000    [Adventure, Fantasy, Action, Comedy, Family]
195   127000000            [Adventure, Comedy, Fantasy, Family]
243   110000000    [Action, Adventure, Comedy, Family, Fantasy]
284   100000000                               [Comedy, Romance]
361    90000000                                [Comedy, Action]
362    88000000               [Action, Comedy, Science Fiction]
390    85000000            [Animation, Comedy, Family, Fantasy]
416    82500000               [Comedy, Drama, Fantasy, Romance]
434    82000000                                 [Comedy, Drama]
436    80000000                                        [Comedy]
443    80000000              [Fantasy, Comedy, Family, Romance]
445    80000000                               [Romance, Comedy]
460    80000000                       [Comedy, Romance, Family]
464    80000000                     [Animation, Comedy, Family]
471    85000000                      [Comedy, Fantasy, Romance]
499    79000000                                        [Comedy]
515    75000000                               [Comedy, Romance]
520    80000000                                        [Comedy]
688    80000000                               [Comedy, Romance]
726    60000000                                 [Comedy, Crime]
796    60000000                               [Comedy, Western]
802    70000000                                        [Comedy]
811    55000000                               [Comedy, Romance]
907    50000000                               [Comedy, Romance]
997    50000000                                        [Comedy]
1022   47000000                       [Comedy, Drama, Thriller]
1071   40000000                                        [Comedy]
1531   34000000  [Action, Adventure, Thriller, Science Fiction]
1539   34200000                                 [Comedy, Drama]
1710   21000000                                 [Comedy, Drama]
1716   28000000                                        [Comedy]
1989   23000000                                        [Comedy]
2675   14000000                   [Adventure, Action, Thriller]
2989   12000000                                        [Comedy]
3143    9500000                   [Action, Thriller, Adventure]
3162    5500000                   [Adventure, Action, Thriller]
3251    6500000                   [Adventure, Action, Thriller]
3336    7200000                   [Adventure, Action, Thriller]
3343    7000000                   [Adventure, Action, Thriller]
3351    7000000                   [Adventure, Action, Thriller]
3884    2500000                   [Adventure, Action, Thriller]
4071    2000000                   [Action, Thriller, Adventure]
4339     950000                   [Adventure, Action, Thriller]

                                               homepage      id  \
121                http://www.nightatthemuseummovie.com   18360
195                                                      181533
243                                                        1593
284                       http://www.littlefockers.net/   39451
361             http://www.youdontmesswiththezohan.com/   10661
362                        http://www.pixels-movie.com/  257344
390                      http://www.welcometohotelt.com   76492
416                                                        9339
434                                                        9291
436        http://www.sonypictures.com/movies/grownups2  109418
443                                                       10202
445                   http://www.justgowithit-movie.com   50546
460                     http://www.zookeeper-movie.com/   38317
464                                                      159824
471                                                        9678
499                   http://www.jackandjill-movie.com/   71880
515                                                        1824
520                      http://www.grownups-movie.com/   38365
688             http://www.meetthefockers.com/index.php     693
726                                                        9384
796               http://www.netflix.com/title/80039517  347969
802      http://www.sonypictures.com/movies/thatsmyboy/   87428
811                                                        1597
907                                                        2022
997                           http://www.zoolander.com/  329833
1022                                                       9894
1071                                                     232672
1531      http://www.mgm.com/view/movie/1292/Moonraker/     698
1539                                                       9032
1710                                                       9428
1716                                                       9398
1989                                                      10663
2675  http://www.mgm.com/view/movie/1891/The-Spy-Who...     691
2989                                                       9614
3143  http://www.mgm.com/view/movie/2347/You-Only-Li...     667
3162    http://www.mgm.com/view/movie/2009/Thunderball/     660
3251  http://www.mgm.com/view/movie/1411/On-Her-Maje...     668
3336  http://www.mgm.com/view/movie/529/Diamonds-Are...     681
3343  http://www.mgm.com/view/movie/1130/Live-and-Le...     253
3351  http://www.mgm.com/view/movie/1213/The-Man-wit...     682
3884      http://www.mgm.com/view/movie/760/Goldfinger/     658
4071  http://www.mgm.com/view/movie/717/From-Russia-...     657
4339         http://www.mgm.com/#/our-titles/566/Dr.-No     646

                                               overview  popularity  \
121   Hapless museum night watchman Larry Daley must...   81.781591
195   When the magic powers of The Tablet of Ahkmenr...  115.597753
243   Chaos reigns at the natural history museum whe...   48.780039
284   It has taken 10 years, two little Fockers with...   32.389353
361   An Israeli counterterrorism soldier with a sec...   40.597344
362   Video game experts are recruited by the milita...  140.849495
390   Dracula, who operates a high-end resort away f...   56.257411
416   A workaholic architect finds a universal remot...   41.176631
434   Pro quarter-back, Paul Crewe and former colleg...   26.065735
436   The all-star comedy cast from Grown Ups return...   45.589568
443   Skeeter Bronson is a down-on-his-luck guy who'...   23.531721
445   A plastic surgeon, romancing a much younger sc...   37.026650
460   A comedy about a zookeeper who might be great ...   27.462640
464   When the old-old-old-fashioned vampire Vlad ar...   61.692197
471   After the lord of darkness decides he will not...   18.335992
499   Jack Sadelstein, a successful advertising exec...   22.132418
515   Henry is a player skilled at seducing women. B...   61.437586
520   After their high school basketball coach passe...   38.864027
688   Hard-to-crack ex-CIA man, Jack Byrnes and his ...   32.829538
726   Join uptight David Starsky and laid-back Ken "...   28.848842
796   When his long-lost outlaw father returns, Tomm...   19.694695
802   While in his teens, Donny fathered a son, Todd...   21.723897
811   Greg Focker is ready to marry his girlfriend, ...   29.972240
907   When Longfellow Deeds, a small-town pizzeria o...   18.121404
997   Derek and Hansel are modelling again when an o...   37.253774
1022  When recently single Steven moves into his new...   19.525659
1071  After a bad blind date, a man and woman find t...   44.120328
1531  During the transportation of a Space Shuttle a...   29.887404
1539  A lazy law school grad adopts a kid to impress...   34.868590
1710  An estranged family of former child prodigies ...   24.130810
1716  Clear the runway for Derek Zoolander, VH1's th...   38.095800
1989  Bobby Boucher is a water boy for a struggling ...   23.839127
2675  Russian and British submarines with nuclear mi...   27.173470
2989  Failed hockey player-turned-golf whiz Happy Gi...   26.598884
3143  A mysterious space craft kidnaps a Russian and...   28.675891
3162  A criminal organization has obtained two nucle...   31.036000
3251  James Bond tracks archnemesis Ernst Blofeld to...   25.289665
3336  Diamonds are stolen only to be sold again in t...   34.634181
3343  James Bond must investigate a mysterious murde...   30.465138
3351  A golden bullet has 007 engraved on it as it s...   30.214716
3884  Special agent 007 (Sean Connery) comes face to...   47.812466
4071  Agent 007 is back in the second installment of...   41.298723
4339  In the film that launched the James Bond saga,...   48.901542

                                   production_companies release_date  \
121   [Twentieth Century Fox Film Corporation, 1492 ...   2009-05-20
195   [Twentieth Century Fox Film Corporation, 1492 ...   2014-12-17
243   [Ingenious Film Partners, Twentieth Century Fo...   2006-10-20
284   [Paramount Pictures, Universal Pictures, Every...   2010-12-21
361   [Columbia Pictures, Happy Madison Productions,...   2008-06-05
362      [Columbia Pictures, Happy Madison Productions]   2015-07-16
390        [Columbia Pictures, Sony Pictures Animation]   2012-09-20
416   [Original Film, Columbia Pictures Corporation,...   2006-06-22
434   [Paramount Pictures, Columbia Pictures Corpora...   2005-05-19
436   [Columbia Pictures, Happy Madison Productions,...   2013-07-11
443   [Walt Disney Pictures, Happy Madison Productio...   2008-12-24
445      [Columbia Pictures, Happy Madison Productions]   2011-02-10
460   [Columbia Pictures, Happy Madison Productions,...   2011-07-06
464        [Columbia Pictures, Sony Pictures Animation]   2015-09-21
471   [New Line Cinema, Avery Pix, Happy Madison Pro...   2000-11-10
499   [Columbia Pictures, Happy Madison Productions,...   2011-11-11
515   [Columbia Pictures Corporation, Happy Madison ...   2004-02-13
520   [Columbia Pictures, Happy Madison Productions,...   2010-06-24
688   [DreamWorks SKG, Universal Pictures, Everyman ...   2004-12-22
726   [Weed Road Pictures, Warner Bros., Dimension F...   2004-03-05
796                         [Happy Madison Productions]   2015-12-11
802   [Columbia Pictures, Happy Madison Productions,...   2012-06-14
811   [DreamWorks SKG, Universal Pictures, Tribeca P...   2000-10-06
907   [New Line Cinema, Columbia Pictures Corporatio...   2002-06-28
997           [Scott Rudin Productions, Red Hour Films]   2016-02-06
1022                    [Columbia Pictures Corporation]   1996-06-10
1071  [Happy Madison Productions, Karz Entertainment...   2014-05-21
1531                  [United Artists, Eon Productions]   1979-06-26
1539                                [Columbia Pictures]   1999-06-25
1710                              [Touchstone Pictures]   2001-10-05
1716  [Paramount Pictures, Village Roadshow Pictures...   2001-09-28
1989                              [Touchstone Pictures]   1998-11-06
2675          [United Artists, Eon Productions, Danjaq]   1977-07-07
2989  [Universal Pictures, Brillstein-Grey Entertain...   1996-02-16
3143                                  [Eon Productions]   1967-06-12
3162       [Eon Productions, Metro-Goldwyn-Mayer (MGM)]   1965-12-16
3251          [United Artists, Eon Productions, Danjaq]   1969-12-12
3336          [United Artists, Eon Productions, Danjaq]   1971-12-13
3343          [United Artists, Eon Productions, Danjaq]   1973-07-05
3351          [United Artists, Eon Productions, Danjaq]   1974-12-01
3884          [United Artists, Eon Productions, Danjaq]   1964-09-17
4071          [United Artists, Eon Productions, Danjaq]   1963-10-11
4339                  [United Artists, Eon Productions]   1962-10-04

        revenue  runtime                                            tagline  \
121   413106170    105.0           When the lights go off the battle is on.
195   349424282     97.0                   One Final Night to Save the Day.
243   574480841    108.0                        Where History Comes To Life
284   310650585     98.0                 Kids bring everyone closer, right?
361   201596308    113.0                     Lather. Rinse. Save the world.
362   243637091    105.0                                           Game On.
390   358375603     91.0          Where monsters go to get away from it all
416   237681299    107.0  What If You Had A Remote... That Controlled Yo...
434   190320568    113.0                    If you can't get out, get even.
436   246984278    100.0  Just because they're a little older doesn't me...
443   212874442     99.0       Whatever they dream up... he has to survive.
445   214918407    117.0   Sometimes a guy's best wingman... is a wingwoman
460   169852759    102.0                             Welcome to his jungle.
464   473226958     89.0              They're back to raise a little terror
471           0     90.0  He's Never Been To Earth. He's Never Even Slep...
499   149673788     91.0  His twin sister is coming for the holidays... ...
515   196482882     99.0  Imagine having to win over the girl of your dr...
520   271430189    102.0    Boys will be boys. . . some longer than others.
688   516642939    115.0                               Misery loves family.
726   170268750    101.0                                   They're the man.
796           0    119.0
802    58058367    116.0                 The story of a child… and his son.
811   330444045    108.0    First comes love. Then comes the interrogation.
907   171269535     96.0               Small town kid, big time right hook.
997    55969000    100.0                                     Long time no Z
1022  102825796     96.0               There's no such thing as free cable.
1071  123494610    117.0      Single Dad, No Clue. Single Mum, Flying Solo.
1531  210308099    126.0                    Outer space now belongs to 007.
1539  234801895     93.0                  Nature called. Look who answered.
1710   71441250    110.0              Family isn’t a word, it’s a sentence.
1716   60780981     89.0                    3% Body Fat. 1% Brain Activity.
1989  185991646     90.0  You can mess with him. But don't mess with his...
2675  185438673    125.0  It's the BIGGEST. It's the BEST. It's BOND. An...
2989   41205099     92.0            He doesn't play golf... he destroys it.
3143  111584787    117.0  You Only Live Twice...and Twice is the only wa...
3162  141195658    130.0                    Look up!  Look down!  Look out!
3251   81974493    142.0  Far up! Far out! Far more! James Bond 007 is b...
3336  116019547    120.0            The man who made 007 a household number
3343  161777836    121.0                         Roger Moore is James Bond.
3351   97572000    125.0  The man with the golden gun is ready to assass...
3884  124881062    110.0       Everything he touches turns into excitement!
4071   78898765    115.0  The world's masters of murder pull out all the...
4339   59600000    110.0  NOW meet the most extraordinary gentleman spy ...

                                               title  vote_average  vote_count
121   Night at the Museum: Battle of the Smithsonian           5.9        1971
195          Night at the Museum: Secret of the Tomb           6.1        1851
243                              Night at the Museum           6.3        2862
284                                   Little Fockers           5.4        1060
361                    You Don't Mess with the Zohan           5.5        1048
362                                           Pixels           5.6        2513
390                               Hotel Transylvania           6.8        2566
416                                            Click           6.0        2104
434                                 The Longest Yard           6.2         785
436                                      Grown Ups 2           5.8        1155
443                                  Bedtime Stories           5.9         901
445                                  Just Go with It           6.3        1543
460                                        Zookeeper           5.3         498
464                             Hotel Transylvania 2           6.7        1497
471                                     Little Nicky           5.2         438
499                                    Jack and Jill           4.1         604
515                                   50 First Dates           6.6        2105
520                                        Grown Ups           6.0        1705
688                                 Meet the Fockers           6.1        1373
726                                  Starsky & Hutch           5.6         644
796                                 The Ridiculous 6           4.9         388
802                                    That's My Boy           5.5         453
811                                 Meet the Parents           6.6        1698
907                                        Mr. Deeds           5.6         644
997                                      Zoolander 2           4.7         797
1022                                   The Cable Guy           5.7         594
1071                                         Blended           6.6        1006
1531                                       Moonraker           5.9         541
1539                                       Big Daddy           6.1         875
1710                            The Royal Tenenbaums           7.4        1286
1716                                       Zoolander           6.1        1337
1989                                    The Waterboy           5.9         512
2675                            The Spy Who Loved Me           6.6         507
2989                                   Happy Gilmore           6.5         755
3143                             You Only Live Twice           6.5         531
3162                                     Thunderball           6.5         562
3251                 On Her Majesty's Secret Service           6.5         456
3336                            Diamonds Are Forever           6.3         553
3343                                Live and Let Die           6.4         533
3351                     The Man with the Golden Gun           6.3         524
3884                                      Goldfinger           7.2         987
4071                           From Russia with Love           6.9         760
4339                                          Dr. No           6.9         940

         budget                                          genres  \
121   150000000    [Adventure, Fantasy, Action, Comedy, Family]
195   127000000            [Adventure, Comedy, Fantasy, Family]
243   110000000    [Action, Adventure, Comedy, Family, Fantasy]
284   100000000                               [Comedy, Romance]
362    88000000               [Action, Comedy, Science Fiction]
390    85000000            [Animation, Comedy, Family, Fantasy]
436    80000000                                        [Comedy]
443    80000000              [Fantasy, Comedy, Family, Romance]
445    80000000                               [Romance, Comedy]
460    80000000                       [Comedy, Romance, Family]
464    80000000                     [Animation, Comedy, Family]
471    85000000                      [Comedy, Fantasy, Romance]
499    79000000                                        [Comedy]
515    75000000                               [Comedy, Romance]
520    80000000                                        [Comedy]
688    80000000                               [Comedy, Romance]
726    60000000                                 [Comedy, Crime]
802    70000000                                        [Comedy]
811    55000000                               [Comedy, Romance]
907    50000000                               [Comedy, Romance]
997    50000000                                        [Comedy]
1022   47000000                       [Comedy, Drama, Thriller]
1071   40000000                                        [Comedy]
1531   34000000  [Action, Adventure, Thriller, Science Fiction]
1539   34200000                                 [Comedy, Drama]
1710   21000000                                 [Comedy, Drama]
1716   28000000                                        [Comedy]
1989   23000000                                        [Comedy]
2675   14000000                   [Adventure, Action, Thriller]
2989   12000000                                        [Comedy]
3143    9500000                   [Action, Thriller, Adventure]
3162    5500000                   [Adventure, Action, Thriller]
3336    7200000                   [Adventure, Action, Thriller]
3343    7000000                   [Adventure, Action, Thriller]
3351    7000000                   [Adventure, Action, Thriller]
3884    2500000                   [Adventure, Action, Thriller]
4071    2000000                   [Action, Thriller, Adventure]
4339     950000                   [Adventure, Action, Thriller]

                                               homepage      id  \
121                http://www.nightatthemuseummovie.com   18360
195                                                      181533
243                                                        1593
284                       http://www.littlefockers.net/   39451
362                        http://www.pixels-movie.com/  257344
390                      http://www.welcometohotelt.com   76492
436        http://www.sonypictures.com/movies/grownups2  109418
443                                                       10202
445                   http://www.justgowithit-movie.com   50546
460                     http://www.zookeeper-movie.com/   38317
464                                                      159824
471                                                        9678
499                   http://www.jackandjill-movie.com/   71880
515                                                        1824
520                      http://www.grownups-movie.com/   38365
688             http://www.meetthefockers.com/index.php     693
726                                                        9384
802      http://www.sonypictures.com/movies/thatsmyboy/   87428
811                                                        1597
907                                                        2022
997                           http://www.zoolander.com/  329833
1022                                                       9894
1071                                                     232672
1531      http://www.mgm.com/view/movie/1292/Moonraker/     698
1539                                                       9032
1710                                                       9428
1716                                                       9398
1989                                                      10663
2675  http://www.mgm.com/view/movie/1891/The-Spy-Who...     691
2989                                                       9614
3143  http://www.mgm.com/view/movie/2347/You-Only-Li...     667
3162    http://www.mgm.com/view/movie/2009/Thunderball/     660
3336  http://www.mgm.com/view/movie/529/Diamonds-Are...     681
3343  http://www.mgm.com/view/movie/1130/Live-and-Le...     253
3351  http://www.mgm.com/view/movie/1213/The-Man-wit...     682
3884      http://www.mgm.com/view/movie/760/Goldfinger/     658
4071  http://www.mgm.com/view/movie/717/From-Russia-...     657
4339         http://www.mgm.com/#/our-titles/566/Dr.-No     646

                                               overview  popularity  \
121   Hapless museum night watchman Larry Daley must...   81.781591
195   When the magic powers of The Tablet of Ahkmenr...  115.597753
243   Chaos reigns at the natural history museum whe...   48.780039
284   It has taken 10 years, two little Fockers with...   32.389353
362   Video game experts are recruited by the milita...  140.849495
390   Dracula, who operates a high-end resort away f...   56.257411
436   The all-star comedy cast from Grown Ups return...   45.589568
443   Skeeter Bronson is a down-on-his-luck guy who'...   23.531721
445   A plastic surgeon, romancing a much younger sc...   37.026650
460   A comedy about a zookeeper who might be great ...   27.462640
464   When the old-old-old-fashioned vampire Vlad ar...   61.692197
471   After the lord of darkness decides he will not...   18.335992
499   Jack Sadelstein, a successful advertising exec...   22.132418
515   Henry is a player skilled at seducing women. B...   61.437586
520   After their high school basketball coach passe...   38.864027
688   Hard-to-crack ex-CIA man, Jack Byrnes and his ...   32.829538
726   Join uptight David Starsky and laid-back Ken "...   28.848842
802   While in his teens, Donny fathered a son, Todd...   21.723897
811   Greg Focker is ready to marry his girlfriend, ...   29.972240
907   When Longfellow Deeds, a small-town pizzeria o...   18.121404
997   Derek and Hansel are modelling again when an o...   37.253774
1022  When recently single Steven moves into his new...   19.525659
1071  After a bad blind date, a man and woman find t...   44.120328
1531  During the transportation of a Space Shuttle a...   29.887404
1539  A lazy law school grad adopts a kid to impress...   34.868590
1710  An estranged family of former child prodigies ...   24.130810
1716  Clear the runway for Derek Zoolander, VH1's th...   38.095800
1989  Bobby Boucher is a water boy for a struggling ...   23.839127
2675  Russian and British submarines with nuclear mi...   27.173470
2989  Failed hockey player-turned-golf whiz Happy Gi...   26.598884
3143  A mysterious space craft kidnaps a Russian and...   28.675891
3162  A criminal organization has obtained two nucle...   31.036000
3336  Diamonds are stolen only to be sold again in t...   34.634181
3343  James Bond must investigate a mysterious murde...   30.465138
3351  A golden bullet has 007 engraved on it as it s...   30.214716
3884  Special agent 007 (Sean Connery) comes face to...   47.812466
4071  Agent 007 is back in the second installment of...   41.298723
4339  In the film that launched the James Bond saga,...   48.901542

                                   production_companies release_date  \
121   [Twentieth Century Fox Film Corporation, 1492 ...   2009-05-20
195   [Twentieth Century Fox Film Corporation, 1492 ...   2014-12-17
243   [Ingenious Film Partners, Twentieth Century Fo...   2006-10-20
284   [Paramount Pictures, Universal Pictures, Every...   2010-12-21
362      [Columbia Pictures, Happy Madison Productions]   2015-07-16
390        [Columbia Pictures, Sony Pictures Animation]   2012-09-20
436   [Columbia Pictures, Happy Madison Productions,...   2013-07-11
443   [Walt Disney Pictures, Happy Madison Productio...   2008-12-24
445      [Columbia Pictures, Happy Madison Productions]   2011-02-10
460   [Columbia Pictures, Happy Madison Productions,...   2011-07-06
464        [Columbia Pictures, Sony Pictures Animation]   2015-09-21
471   [New Line Cinema, Avery Pix, Happy Madison Pro...   2000-11-10
499   [Columbia Pictures, Happy Madison Productions,...   2011-11-11
515   [Columbia Pictures Corporation, Happy Madison ...   2004-02-13
520   [Columbia Pictures, Happy Madison Productions,...   2010-06-24
688   [DreamWorks SKG, Universal Pictures, Everyman ...   2004-12-22
726   [Weed Road Pictures, Warner Bros., Dimension F...   2004-03-05
802   [Columbia Pictures, Happy Madison Productions,...   2012-06-14
811   [DreamWorks SKG, Universal Pictures, Tribeca P...   2000-10-06
907   [New Line Cinema, Columbia Pictures Corporatio...   2002-06-28
997           [Scott Rudin Productions, Red Hour Films]   2016-02-06
1022                    [Columbia Pictures Corporation]   1996-06-10
1071  [Happy Madison Productions, Karz Entertainment...   2014-05-21
1531                  [United Artists, Eon Productions]   1979-06-26
1539                                [Columbia Pictures]   1999-06-25
1710                              [Touchstone Pictures]   2001-10-05
1716  [Paramount Pictures, Village Roadshow Pictures...   2001-09-28
1989                              [Touchstone Pictures]   1998-11-06
2675          [United Artists, Eon Productions, Danjaq]   1977-07-07
2989  [Universal Pictures, Brillstein-Grey Entertain...   1996-02-16
3143                                  [Eon Productions]   1967-06-12
3162       [Eon Productions, Metro-Goldwyn-Mayer (MGM)]   1965-12-16
3336          [United Artists, Eon Productions, Danjaq]   1971-12-13
3343          [United Artists, Eon Productions, Danjaq]   1973-07-05
3351          [United Artists, Eon Productions, Danjaq]   1974-12-01
3884          [United Artists, Eon Productions, Danjaq]   1964-09-17
4071          [United Artists, Eon Productions, Danjaq]   1963-10-11
4339                  [United Artists, Eon Productions]   1962-10-04

        revenue  runtime                                            tagline  \
121   413106170    105.0           When the lights go off the battle is on.
195   349424282     97.0                   One Final Night to Save the Day.
243   574480841    108.0                        Where History Comes To Life
284   310650585     98.0                 Kids bring everyone closer, right?
362   243637091    105.0                                           Game On.
390   358375603     91.0          Where monsters go to get away from it all
436   246984278    100.0  Just because they're a little older doesn't me...
443   212874442     99.0       Whatever they dream up... he has to survive.
445   214918407    117.0   Sometimes a guy's best wingman... is a wingwoman
460   169852759    102.0                             Welcome to his jungle.
464   473226958     89.0              They're back to raise a little terror
471           0     90.0  He's Never Been To Earth. He's Never Even Slep...
499   149673788     91.0  His twin sister is coming for the holidays... ...
515   196482882     99.0  Imagine having to win over the girl of your dr...
520   271430189    102.0    Boys will be boys. . . some longer than others.
688   516642939    115.0                               Misery loves family.
726   170268750    101.0                                   They're the man.
802    58058367    116.0                 The story of a child… and his son.
811   330444045    108.0    First comes love. Then comes the interrogation.
907   171269535     96.0               Small town kid, big time right hook.
997    55969000    100.0                                     Long time no Z
1022  102825796     96.0               There's no such thing as free cable.
1071  123494610    117.0      Single Dad, No Clue. Single Mum, Flying Solo.
1531  210308099    126.0                    Outer space now belongs to 007.
1539  234801895     93.0                  Nature called. Look who answered.
1710   71441250    110.0              Family isn’t a word, it’s a sentence.
1716   60780981     89.0                    3% Body Fat. 1% Brain Activity.
1989  185991646     90.0  You can mess with him. But don't mess with his...
2675  185438673    125.0  It's the BIGGEST. It's the BEST. It's BOND. An...
2989   41205099     92.0            He doesn't play golf... he destroys it.
3143  111584787    117.0  You Only Live Twice...and Twice is the only wa...
3162  141195658    130.0                    Look up!  Look down!  Look out!
3336  116019547    120.0            The man who made 007 a household number
3343  161777836    121.0                         Roger Moore is James Bond.
3351   97572000    125.0  The man with the golden gun is ready to assass...
3884  124881062    110.0       Everything he touches turns into excitement!
4071   78898765    115.0  The world's masters of murder pull out all the...
4339   59600000    110.0  NOW meet the most extraordinary gentleman spy ...

                                               title  vote_average  vote_count
121   Night at the Museum: Battle of the Smithsonian           5.9        1971
195          Night at the Museum: Secret of the Tomb           6.1        1851
243                              Night at the Museum           6.3        2862
284                                   Little Fockers           5.4        1060
362                                           Pixels           5.6        2513
390                               Hotel Transylvania           6.8        2566
436                                      Grown Ups 2           5.8        1155
443                                  Bedtime Stories           5.9         901
445                                  Just Go with It           6.3        1543
460                                        Zookeeper           5.3         498
464                             Hotel Transylvania 2           6.7        1497
471                                     Little Nicky           5.2         438
499                                    Jack and Jill           4.1         604
515                                   50 First Dates           6.6        2105
520                                        Grown Ups           6.0        1705
688                                 Meet the Fockers           6.1        1373
726                                  Starsky & Hutch           5.6         644
802                                    That's My Boy           5.5         453
811                                 Meet the Parents           6.6        1698
907                                        Mr. Deeds           5.6         644
997                                      Zoolander 2           4.7         797
1022                                   The Cable Guy           5.7         594
1071                                         Blended           6.6        1006
1531                                       Moonraker           5.9         541
1539                                       Big Daddy           6.1         875
1710                            The Royal Tenenbaums           7.4        1286
1716                                       Zoolander           6.1        1337
1989                                    The Waterboy           5.9         512
2675                            The Spy Who Loved Me           6.6         507
2989                                   Happy Gilmore           6.5         755
3143                             You Only Live Twice           6.5         531
3162                                     Thunderball           6.5         562
3336                            Diamonds Are Forever           6.3         553
3343                                Live and Let Die           6.4         533
3351                     The Man with the Golden Gun           6.3         524
3884                                      Goldfinger           7.2         987
4071                           From Russia with Love           6.9         760
4339                                          Dr. No           6.9         940